body {
  background: azure;
}

#wrapper {
  /* Box-model */
  width: 630px; /* This size works well in large.
  Consider options for small screens. */

  /* Positioning */
  margin: 50px auto 0;
}

#ingame {
  display: none;
}

#buttons {
  /* Typography */
  text-align: left;
}

.select {
  width: 100%;

  /* Box-model */
  height: 50px;
  margin: 0 0 2%;
}

#restart {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Revised for 4 side. Originally 15% all around and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* a hack to consider
.modal-content::before { 
  content: "";
  height: 10%;
  min-height: 5vh;
  max-height: 10vh;
} */
.modal-header {
  align-items: baseline;
}
#modal-title {
  flex: 1 0 auto;
}
#modal-timer {
  flex: 1 0 auto;
}

#modal-timer {
  display: none;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
